
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.Header {
  min-width: 100vw;
  margin: auto;
  position: fixed;
}

.Menu {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #362E27;
  color: #CCB596;
}

.Menu h1 {
  font-size: 2rem;
}

.header-link {
  padding: 1rem;
}

.menu-bar {
  font-size: 2rem;
  margin-right: auto;
}

.menu-basket {
  font-size: 2rem;
  margin-left: auto;
}

.background {
  min-height: 50vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/********* Home *********/
.p1 {
  background-image: url(./images/background-p1.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.home {
  min-height: 40vh;
}



.home p, .services p {
  font-size: 1.2rem;
}
/********* Services *********/
.services {
  min-height: 40vh;
}

.services h3 {
  text-align: center;
}

.p2 {
  background-image: url(./images/background-p2.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.treatmentList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.inpTreatment { /* trenger mer styling*/
  min-width: 30rem;
  outline: none;
}
/********* Footer *********/
.Footer {
  min-height: 130vh;
  background-color: #362E27;
  color: #CCB596;
}

.Footer h2 {
  text-align: center;
  padding: 1rem 0;
}

.Footer p {
  padding: 0 1rem;
}

/* Workers */
.employees {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.employee {
  margin: 1rem 2rem;
}

.employee img {
  max-width: 100%;
  border-radius: 50%;
  height: auto;
}

.employee h3 {
  text-align: center;
  
}

/****** Basket *****/
.basket {
  z-index: 20;
  position: fixed;
  top: 20px;
  right: 10px;
  width: 40vw;
  height: 40vh;
  background-color: #AF9F86;
  box-shadow: black;
  animation: falldown 1s linear;
}

.basket h2 {
  text-align: center;
}

.x {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Basket animasjon */
@keyframes falldown {
  from {
    top: -500px;
    right: -500px;
  }
  to {
    top: 20px;
    right: 10px;
  }
}