@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url("https://use.typekit.net/vgy0ntq.css");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #362E27;
}

.Header {
  min-width: 100vw;
  margin: auto;
  background-color: #362E27;
  color: #CCB596;
}

.Header h1 {
  font-family: drunk-cowboy, sans-serif;
  text-align: center;
  font-size: 2.5rem;
}

.background {
  min-height: 70vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.background > h2 {
  text-shadow: 0.05rem 0.05rem #000;
}

.text {
  background-color: white;
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(0, 50rem) minmax(1.5rem, 1fr);
  padding: 4rem 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 40vh;
}

.text > * {
  grid-column: 2 / -2;
}

/********* Home *********/
.p1 {
  background-image: url(./images/background-p1.jpeg);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.home p, .services p {
  font-size: 1.2rem;
}

/********* Services *********/


.p2 {
  background-image: url(./images/background-p2.jpeg);
}

.treatmentList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inpTreatment { 
  max-width: 47rem;
  outline: none;
  padding: 1rem;
  border-radius: 10px;
}

/* Workers */
.employees {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.employee {
  margin: 1rem 2rem;
}

.employee img {
  max-width: 90%;
  border-radius: 50%;
  height: auto;
}

.employee h3 {
  text-align: center;
}

/********* Footer *********/
.Footer {
  min-height: 130vh;
  background-color: #362E27;
  color: #CCB596;
}

.Footer h2 {
  text-align: center;
  padding: 1rem 0;
}

.Footer p {
  padding: 0 1rem;
}

@media only screen and (min-width: 600px) {
  .Header h1 {
    font-size: 3rem;
  }
  .services {
    grid-template-columns: minmax(1.5rem, 1fr) minmax(0, 40rem) minmax(1.5rem, 1fr);
  }

}